<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	 <!-- reference CSS file -->
	<link rel="stylesheet"
		  th:href="@{/css/demo.css}" />
	<title>Save Employee</title>
</head>

<body th:style="'background: url(/images/kiwi.jpg) no-repeat center center fixed ;'">

 <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="http://localhost:8081/studio-manager/underground-pine/home">Underground Pine Studios</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="http://localhost:8081/studio-manager/underground-pine/home">Home</a>
                </li>
               
                <li class="nav-item">
                <a class="nav-link" href="http://localhost:8081/studio-manager/artist/list">Artists</a>
                </li>
               
                <li class="nav-item">
                <a class="nav-link" href="http://localhost:8081/studio-manager/gear/list">Gear</a>
                </li>
                
                
                
                <li class="nav-item">
                <a class="nav-link" href="http://localhost:8081/studio-manager/employee/about">About</a>
                </li>
                
                 <li class="nav-item">
                <a class="nav-link" href="http://localhost:8081/studio-manager/contact/addContactForm">Contact</a>
                </li>

            </ul>
            </div>
        </div>
    </nav>
<!-- end of nav -->

 <div class="card bg-dark" id="employeeSave">

	<div class="container">
		<div class="card-header">
		<h3 id="white">Employee Directory</h3>
		<hr>
		</div>
		 <div class="card-body">
		
		<p class="h4 mb-4" id="white">Save Employee</p>
		
		<form action="#" th:action="@{/employees/save}"
						 th:object="${employee}" method="POST">
		
			<!-- Add hidden form field to handle update -->
			<input type="hidden" th:field="*{id}" />
			
			<input type="text" th:field="*{firstName}"
					class="form-control mb-4 col-4" placeholder="First name">

			<input type="text" th:field="*{lastName}"
					class="form-control mb-4 col-4" placeholder="Last name">

			<input type="text" th:field="*{email}"
					class="form-control mb-4 col-4" placeholder="Email">
				
			<button type="submit" class="btn btn-info col-2">Save</button>
						
		</form>
	
		<hr>
		<a th:href="@{/employees/list}">Back to Employees List</a>
		
	</div>
	</div>
	</div>
</body>

</html>










